/* V. basic additional styles */
.top-bar
{
    margin-bottom: 1rem;
}
.thumbnail.main-artist
{
    width: 100%;
}
.track-list
{
    margin-left: 2rem;
}
.image-link
{
    display: block;
}
.artist
{
    position: relative;
}
    .artist img
    {
        width: 100%;
    }
    .artist-caption
    {
        position: absolute;
        bottom: 5px;
        width: 100%;
        background: rgba(255,255,255,0.8);
        color: #fff;
    }
    .artist-name
    {
        padding: 10px;
        margin: 0;
    }
        .artist-name h4
        {
            font-size: 1rem;
            color: #000;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
.list
{
    margin-left: 1rem;
}
code
{
    display: block;
    padding: 4px 5px;
    margin-bottom: 10px;
}

.api-explorer input[type=text]
{
    font-size: 0.85rem;
}
    /*.api-explorer input.ng-valid[required]*/
    .api-explorer input.ng-valid
    {
        border-left: 5px solid #42A948;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        padding-left: 5px;
    }
    .api-explorer input.ng-invalid
    {
        border-left: 5px solid #a94442;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        padding-left: 5px;
    }

.help-holder
{
    height: 25px;
    margin-top: -0.75rem;
    margin-bottom: 5px;
}
    .help-holder p
    {
        margin-bottom: 5px;
        margin-top: 0;
    }

.callout
{
    height: 100%;
}

        .over
        {
            overflow: auto;
            height: 100%;
        }
            .over pre
            {
                white-space: pre-wrap;
                word-wrap: break-word; 
            }