<!--<p *ngFor="let b of breadcrumbs">
  {{b | json }}
</p>-->
<div class="row">
  <div class="columns">
    <nav aria-label="You are here:" role="navigation">
      <ul class="breadcrumbs">
        <li *ngFor="let link of breadcrumbs; let first = first; let last = last;" [class.disabled]='last'>
          <span [ngSwitch]="last && !first">
            <span *ngSwitchCase="true">{{link.name}}</span>
          <a [routerLink]="[link.path]" *ngSwitchDefault>{{link.name}}</a>
          </span>
        </li>
      </ul>
    </nav>
  </div>
</div>