<form #searchForm="ngForm" (submit)="onSubmit()">
  <h4 class="text-center">Search Last.fm</h4>
  <label>
        <input type="text" placeholder="Artist" required
                [(ngModel)]="model.artist" ngControl="artist"  name="artist" #artist="ngModel">
      </label>
  <p>
    <button type="submit" [disabled]="!searchForm.form.valid" class="button expanded">Search</button>
  </p>
  <div [hidden]="artist.valid || !searchForm.touched" class="alert callout">
    <p>
      <i class="fi-alert"></i> Please enter an artist to search for...
    </p>
  </div>
</form>