<div class="row align-center" *ngIf="error">
  <div class="medium-6 large-4 column">
    <div class="callout alert">
      <h5>{{error.title}}</h5>
      <p>
        {{error.message}}
      </p>
    </div>
  </div>
</div>
<div class="row" *ngIf="artist">
  <div class="small-12 medium-6 columns">
    <img class="thumbnail main-artist" [src]="artist.image?.mega">
  </div>
  <div class="small-12 medium-6 columns">
    <h3>{{artist?.name}}</h3>
    <p [innerHTML]="artist.bio?.summary | externalhref"></p>
    <dl *ngIf="artist">
      <dt>Listeners</dt>
      <dd>{{artist?.stats?.listeners}}</dd>
      <dt>Play Count</dt>
      <dd>{{artist?.stats?.playcount}}</dd>
    </dl>
  </div>
</div>
<div *ngIf="albums">
  <div class="row">
    <div class="columns">
      <h3>Popular Albums</h3>
    </div>
  </div>
  <album-list [albums]="albums"></album-list>
</div>
<div *ngIf="artist">
  <div class="row">
    <div class="columns">
      <h3>Similar Artists</h3>
    </div>
  </div>
  <similar-list [similar]="artist?.similar"></similar-list>
</div>